<footer>
    <div class="grid-fluid">
      <div class="footer-block ng-star-inserted"><h3>Resources</h3>
        <ul>
          <li class="ng-star-inserted">
            <a class="link" href="https://github.com/doggy8088" target="_blank">保哥的Github</a>
          </li>
          <li class="ng-star-inserted">
            <a class="link" href="https://blog.miniasp.com/" target="_blank">保哥的Blog</a>
          </li>
        </ul>
      </div>
      <div class="footer-block ng-star-inserted"><h3>Typescript</h3>
        <ul>
          <li class="ng-star-inserted">
            <a class="link" href="https://www.typescriptlang.org/play/index.html" target="_blank">Typescript線上轉換</a>
          </li>
          <li class="ng-star-inserted">
            <a class="link" href="http://microsoft.github.io/TypeSearch/" target="_blank">Typescript尋找模組定義檔</a>
          </li>
        </ul>
      </div>
      <div class="footer-block ng-star-inserted"><h3>Angular</h3>
        <ul>
          <li class="ng-star-inserted">
            <a class="link" href="https://angular.io/guide/quickstart" target="_blank">Angular官網</a>
          </li>
          <li class="ng-star-inserted">
            <a class="link" href="https://github.com/angular/angular-cli/wiki" target="_blank">Angular CLI </a>
          </li>
          <li class="ng-star-inserted">
              <a class="link" href="https://material.angular.io/" target="_blank">Angular Material </a>
          </li>
          <li class="ng-star-inserted">
              <a class="link" href="https://www.primefaces.org/primeng/#/responsive" target="_blank">PrimeNG </a>
          </li>
          <li class="ng-star-inserted">
              <a class="link" href="http://www.css88.com/doc/lodash/" target="_blank">lodash</a>
          </li>
        </ul>
      </div>
  </div>
  <p> Powered by <a href="https://github.com/t5957810" target="_blank">鄒錦翔</a> ©2018.</p>
  <p><a href="http://edwardzou.blogspot.tw/" target="_blank">鄒錦翔的Blog</a></p>
</footer>
