<h1>動態載入元件 </h1>
<h2>Angular Dynamic Component Loader</h2>
<ul>
    <li><p>1：建立元件容器 @Directive。</p>
    <img style="max-width: 850px;" responsive-img src="assets/images/angular-basic/a9.png" />
    </li>
    <li>
      <p>2：要使用動態元件的地方裝上下面這個元件容器。</p>
      <p> < ng-template appAdHost>< /ng-template> </p>
    </li>
    <li>
        <p>3：使用ComponentFactoryResolver動態建立元件。</p>
        <img style="max-width: 850px;" responsive-img src="assets/images/angular-basic/a10.png" />
    </li>
</ul>

<h1>關於EntryComponents</h1>
<ul>
    <li><p>@NgModule的bootstrap[]：用來設定預設啟動的元件，註冊在bootstrap的元件同時也是EntryComponents。</p>
    <li><p>entryComponents：用來設定需要動態載入的元件，如果宣告在declarations裡但在任何html裡沒使用的話，會被Tree Shaking機制過濾掉。</p>
    <li><p>路由中設定的元件也屬於entryComponents。</p>
</li>
<hr>
<h4>Demo：</h4>
<p>按下按鈕後動態載入Component，並設定初始內容為</p>
<button mat-raised-button (click)="loadComponent()" color="warn">動態載入Component</button>
<ng-template appAdHost></ng-template>

<h2>使用ngComponentOutlet</h2>
<p>缺點為沒辦法直接傳值進去，但也可以用service來傳值。</p>
<div *ngIf="isLoad">
  <ng-container *ngComponentOutlet="dynamicAdComponent"></ng-container>
</div>

